@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #191c32;
    letter-spacing: 2px;
}

/* NAVBAR  */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    padding: 1em;
}

.logo-name {
    text-align: center;
    font-size: 1.2rem;
    background: #00FFFF;
    background: linear-gradient(to right, #00FFFF 0%, #800080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    padding: 0;
}

.menu a {
    margin: 0 1.5rem;
    overflow: hidden;
    color: #00FFFF;
}

.menu a:hover {
    color: #FFFFFF;
    transition: ease-in 0.3s;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* MAIN SECTION  */

.main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.dev-info {
    margin-bottom: 10rem;
}

.dev-info h3 {
    font-size: 1.5rem;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dev-info h1 {
    font-size: 3rem;
    margin: 1rem 0;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dev-info p {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.welcome-to {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FFFF;
}

.welcome-to-hidden {
    display: none;
}

.welcome-to h5 {
    text-align: center;
    color: #00FFFF;
    font-size: 0.8rem;
}

.welcome-to i {
    font-size: 1rem;
    margin: 0 1rem;
}

.bounce {
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;
}

.fa-angles-down {
    color: #00FFFF;
    font-size: 3em;
    margin: 20px;
}

.email-right {
    position: fixed;
    bottom: 0;
    right: 1.4rem;
    min-height: 24rem;
    color: #00FFFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    writing-mode: vertical-rl;
    z-index: 1000;
}

.divider-right-main {
    position: fixed;
    bottom: 0;
    right: 1.8rem;
    min-width: 2px;
    min-height: 10rem;
    background-color: #00FFFF;
    z-index: 1000;
}

.divider-left-main {
    position: fixed;
    bottom: 0;
    left: 1.8rem;
    min-width: 2px;
    min-height: 10rem;
    background-color: #00FFFF;
    z-index: 1000;
}

.main-social {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 1.2rem;
    min-height: 26rem;
    z-index: 1000;
}

.main-social i {
    color: #00FFFF;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* BOUNCE ANIMATION  */

@-webkit-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

/* ABOUT SECTION  */

.about-section {
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-header {
    font-size: 3.5rem;
    margin-top: 3rem;
    text-decoration: underline;
    text-decoration-color: #00FFFF;
    text-underline-offset: 0.4rem;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-info {
    font-size: 1rem;
}

.about-info p {
    font-size: 1rem;
    margin: 2rem 0;
}

.about-info span {
    color: #00FFFF;
}

.about-content {
    margin-top: 3rem;
}

.dev-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content img {
    height: 350px;
    border-radius: 50%;
    border: 5px solid #00FFFF;
}

/* SKILLS SECTION  */

.skills-section {
    padding: 1rem;
    background-image: url(./assets/Hexagon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.skills-section p {
    font-size: 1rem;
    margin: 2rem 0;
}


.icon-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 6rem;
}

.icons {
    margin-top: 1rem;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-span: all;
}

.icons i {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons span {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.icons div:hover {
    color: #00FFFF;
    transition: ease-in 0.4s;
}

/* MY WORK SECTION  */

.work-section {
    min-height: 100vh;
    padding: 1rem;
    background-image: url(./assets/Hexagon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.work-section p {
    font-size: 1rem;
    margin: 3rem 0;
}

.container {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    max-width: 400px;
    max-height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border-radius: 10px;
    border: 3px solid #00FFFF;
    background: rgba(0, 0, 0, 0.6);
    transition: ease-in-out 0.5s;
}

.cards:hover {
    background-color: #3b3838;
    transform: translateY(-5px);
}

.project-img img {
    width: 100%;
    max-height: 320px;
    border-radius: 10px;
}

.cardcontent h2 {
    font-size: 1rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
}

.cardcontent p {
    max-width: 390px;
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 0.5rem;
}

.icon-live {
    text-align: center;
    margin: 1rem 0;
}

.icon-live i {
    color: #00FFFF;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.icon-live a {
    color: #ff0000;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    text-transform: uppercase;
}

/* CONTACT SECTION  */

.contact-section {
    height: 100vh;
    padding: 1rem;
    background-image: url(./assets/World\ Map.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.contact-section p {
    font-size: 1rem;
    margin: 2rem 0;
}

.contact-form {
    margin: 4rem 0;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-icons i {
    font-size: 2rem;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.form input {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.form input::placeholder {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

textarea:focus,
input:focus {
    outline-color: #00FFFF;
    outline-style: solid;
    outline-width: 3px;
}

.message-box {
    height: 5rem;
}

.button {
    width: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    height: 3rem;
    color: #00FFFF;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #00FFFF;
    cursor: pointer;
    transition: ease-in 0.4s;
}

.button:hover {
    background-color: #308d8d;
}

/* FOOTER  */

.footer-content {
    width: 100%;
    margin-top: 14rem;
    text-align: center;
}

.footer-content h5 {
    font-weight: 400;
    margin: 1rem 0;
    color: #00FFFF;
    font-size: 1rem;
}

.footer-content i {
    color: #00FFFF;
    font-size: 1.5rem;
}

/* TO TOP BUTTON  */

.to-top {
    display: none;
}

/* MEDIA QUERY BREAKPOINTS  **********************************/

/* MAX-WIDTH 700PX  ******************************************/

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 4rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #3d3d3daf;
        height: 3em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #00FFFF;
        background-color: #222222;
    }

    .menu li:hover {
        background-color: #3b3a3a;
        transition: ease-in 0.4s;
    }

    .menu a {
        text-align: center;
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu a:hover {
        color: #00FFFF;
    }

    .email-social-main {
        display: none;
    }
}

/* MAX-WIDTH 701PX  ******************************************/

@media (min-width: 600px) {

    /* MAIN SECTION  */

    .main-section {
        background: url(./assets/Animated\ Shape.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dev-info h3 {
        font-size: 2.5rem;
    }

    .dev-info h1 {
        font-size: 5rem;
    }

    .dev-info p {
        font-size: 1.5rem;
    }

    /* ABOUT SECTION  */

    .about-section {
        padding: 0;
        margin: 0 8rem;
    }

    .sub-header {
        font-size: 5rem;
    }

    .about-info p {
        font-size: 1.3rem;
    }

    /* SKILLS SECTION  */

    .skills-section {
        padding: 0;
        margin: 0 8rem;
    }

    .skills-section p {
        font-size: 1.5rem;
    }

    .cardcontent p {
        font-size: 2rem;
    }

    .icons i {
        font-size: 4rem;
    }

    .icons span {
        font-size: 1rem;
    }

    /* WORK SECTION  */

    .container {
        display: flex;
        flex-direction: column;
    }

    .work-section {
        padding: 0;
        margin: 0 8rem;
    }

    .work-section p {
        font-size: 1.2rem;
    }

    .cards {
        max-width: 400px;
        max-height: 690px;
        margin: 1rem 1rem;
    }

    .cards h2 {
        font-size: 1.5rem;
    }

    .project-img img {
        width: 390px;
    }

    /* CONTACT SECTION  */

    .contact-section {
        padding: 0;
        margin: 0 8rem;
    }

    .contact-section p {
        font-size: 1.5rem;
    }

    .contact-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-container {
        width: 38rem;
    }

    /* TO TOP BUTTON */

    .to-top {
        background-color: #00FFFF;
        position: fixed;
        bottom: 1.5rem;
        right: 2.5rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #fff;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
    }

    .to-top i {
        color: #191c32;
        font-size: 2rem;
    }

    .to-top.active {
        bottom: 20px;
        opacity: 1;
        pointer-events: auto;
    }
}

/* MAX-WIDTH 1000PX  ******************************************/

@media (min-width: 1000px) {

    /* MAIN SECTION  */

    .dev-info h3 {
        font-size: 3rem;
    }

    .dev-info h1 {
        font-size: 7rem;
    }

    .dev-info p {
        font-size: 2rem;
    }

    /* WORK SECTION  */

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {

    /* ABOUT SECTION  */

    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-content img {
        margin-left: 20px;
        height: 450px;
    }
}